In [13]:
import pandas as pd
import joblib
df = pd.read_csv('../data/processed/ml_data_dp4.csv')
scaler = joblib.load('../models/feature_scaler_dp4.joblib')
raw_vals = scaler.inverse_transform(df[['ieltsMarks', 'toefl_ibt', 'minimumGPA', 'tuitionFeeUSD', 'universityRankingNum']])
raw_df = pd.DataFrame(raw_vals, columns=['ieltsMarks', 'toefl_ibt', 'minimumGPA', 'tuitionFeeUSD', 'universityRankingNum'])
print(raw_df.describe())

       ieltsMarks   toefl_ibt  minimumGPA  tuitionFeeUSD  universityRankingNum
count  131.000000  131.000000  131.000000     131.000000            131.000000
mean     6.358779   78.862595    2.696947   27065.039695            371.885496
std      0.292698   10.291717    0.282826   10275.869008            189.624757
min      5.500000   60.000000    2.200000    8767.500000             39.000000
25%      6.000000   79.000000    2.400000   18601.375000            251.000000
50%      6.500000   79.000000    2.700000   26910.000000            351.000000
75%      6.500000   88.000000    3.000000   34066.500000            401.000000
max      7.000000   95.000000    3.000000   60360.000000           1001.000000

In [10]:
import pandas as pd
import joblib
df = pd.read_csv('../data/processed/ml_data6.csv')
scaler = joblib.load('../models/feature_scaler.joblib')
raw_vals = scaler.inverse_transform(df[['ieltsMarks', 'toefl_ibt', 'minimumGPA', 'tuitionFeeUSD', 'ielts_toefl_interaction', 'gpa_tuition_interaction', 'ielts_squared', 'toefl_squared', 'universityRankingNum']])
raw_df = pd.DataFrame(raw_vals, columns=['ieltsMarks', 'toefl_ibt', 'minimumGPA', 'tuitionFeeUSD', 'ielts_toefl_interaction', 'gpa_tuition_interaction', 'ielts_squared', 'toefl_squared', 'universityRankingNum'])
print(raw_df.describe())

       ieltsMarks   toefl_ibt  minimumGPA  tuitionFeeUSD  \
count  131.000000  131.000000  131.000000     131.000000
mean     6.358779   78.862595    2.696947   27065.039695
std      0.292698   10.291717    0.282826   10275.869008
min      5.500000   60.000000    2.200000    8767.500000
25%      6.000000   79.000000    2.400000   18601.375000
50%      6.500000   79.000000    2.700000   26910.000000
75%      6.500000   88.000000    3.000000   34066.500000
max      7.000000   95.000000    3.000000   60360.000000

       ielts_toefl_interaction  gpa_tuition_interaction  ielts_squared  \
count               131.000000               131.000000     131.000000
mean                503.377863             73306.596794      40.519084
std                  80.854834             29411.835704       3.697143
min                 335.500000             21042.000000      30.250000
25%                 474.000000             46906.875000      36.000000
50%                 513.500000             74337.000000      42.250000
75%                 572.000000             92449.350000      42.250000
max                 665.000000            181080.000000      49.000000

       toefl_squared  universityRankingNum
count     131.000000            131.000000
mean     6324.419847            371.885496
std      1549.523093            189.624757
min      3600.000000             39.000000
25%      6241.000000            251.000000
50%      6241.000000            351.000000
75%      7744.000000            401.000000
max      9025.000000           1001.000000

In [11]:
import pandas as pd
df = pd.read_csv('../data/processed/ml_ready_data1.csv')
print(df.describe())

         ieltsMarks     toefl_ibt    minimumGPA  tuitionFeeUSD  \
count  1.310000e+02  1.310000e+02  1.310000e+02   1.310000e+02
mean  -9.966582e-16 -2.169596e-16  1.545837e-15  -2.305196e-16
std    1.003839e+00  1.003839e+00  1.003839e+00   1.003839e+00
min   -2.945268e+00 -3.950033e+00 -1.763820e+00  -1.787467e+00
25%   -1.230468e+00 -4.464064e-01 -1.053957e+00  -8.268065e-01
50%    4.843330e-01  2.657129e-01  1.083760e-02  -1.514566e-02
75%    4.843330e-01  6.644997e-01  1.075632e+00   6.839653e-01
max    2.199134e+00  1.177226e+00  1.075632e+00   3.252549e+00

       universityRankingNum    uniqueID
count          1.310000e+02  131.000000
mean           4.067993e-17   65.000000
std            1.003839e+00   37.960506
min           -1.762235e+00    0.000000
25%           -6.399457e-01   32.500000
50%           -1.105640e-01   65.000000
75%            1.541269e-01   97.500000
max            3.330417e+00  130.000000